/*

Add styles or override variables from the theme here.

*/

$primary: #415a78;
$secondary: #84ffdf;

.td-page-meta__child {
  display: none;
}
.td-page-view {
  display: none;
}
.td-page-meta__project-issue {
  display: none;
}
.td-page-meta__lastmod {
  display: none;
}